.bodyRed{
    background-color: #FC3A10;
}

.bodyBlue{
    background-color: #1079FC;
}

.bodyGreen{
    background-color: #10FC39;
}

button{
    font-size: 50px;
    border-radius: 20px;
    background-color: transparent;
    color: #333;
    transition: all 0.3s ease-in-out;
    border: 2px solid black;
    
}

button:hover{
    background-color: grey;
    color: #f1f1f1;
}